
.banner_img2{
    background-color: orange;
    
    background: url(/img/imgcomida-removebg-preview.png);
    background-repeat: no-repeat ;
    position: absolute;
    left: 53%;
    top: 22%;
    width: 60%;
    
}

@media screen and (min-width: 0) {
    .banner_img2{
        height: calc(100vh - 80px);
    }
}

@media screen and (min-width: 768px) {
    .banner_img2 {
        height: calc(100vh - 80px);
    }
}

.color{
    background-color: orange;
}

